REYNA/REYNA — Chatwoot WA Bridge.json
{
  "name": "REYNA — Chatwoot WA Bridge",
  "active": false,
  "nodes": [
    {
      "id": "bridge-001",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 0],
      "parameters": {"path": "chatwoot-bridge-reyna", "httpMethod": "POST", "responseMode": "responseNode"},
      "webhookId": "eb201270-52c7-4d4b-bd32-491fb978b664"
    },
    {
      "id": "bridge-002",
      "name": "Filtrar Mensaje Agente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 0],
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\nconst event = d.event || '';\nconst msgType = d.message_type || '';\nconst isPrivate = d.private === true;\nconst content = (d.content || '').trim();\nconst inboxId = d.inbox?.id;\n\nconst isResume = content.toLowerCase() === '/resume';\n\n// Only forward outgoing non-private messages from inbox 1\nconst shouldForward = event === 'message_created'\n  && msgType === 'outgoing'\n  && !isPrivate\n  && inboxId === 1\n  && content.length > 0\n  && !isResume;\n\n// Extract customer phone from conversation meta\nconst phone = String(d.conversation?.meta?.sender?.phone_number || '').replace(/\\D/g, '');\n\nreturn [{ json: { ...d, shouldForward, isResume, phone, content } }];"
      }
    },
    {
      "id": "bridge-003",
      "name": "¿Reenviar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-320, 0],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "cond-forward", "leftValue": "={{ $json.shouldForward }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bridge-004",
      "name": "¿Es Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-320, 200],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "cond-resume", "leftValue": "={{ $json.isResume }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "bridge-005",
      "name": "Enviar a WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [-80, -160],
      "credentials": {"whatsAppApi": {"id": "31KQwk1oC1jrRM1z", "name": "WhatsApp account"}},
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1103955202801675",
        "textBody": "={{ $json.content }}",
        "recipientPhoneNumber": "={{ $json.phone }}",
        "additionalFields": {}
      }
    },
    {
      "id": "bridge-006",
      "name": "Llamar Resume Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-80, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://n8n.est-studio.co/webhook/bot-resume-reyna",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phoneNumber: $json.phone }) }}",
        "options": {}
      }
    },
    {
      "id": "bridge-007",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [160, 0],
      "parameters": {"respondWith": "text", "responseBody": "OK", "options": {"responseCode": 200}}
    }
  ],
  "connections": {
    "Webhook Chatwoot": {"main": [[{"node": "Filtrar Mensaje Agente", "type": "main", "index": 0}]]},
    "Filtrar Mensaje Agente": {"main": [[{"node": "¿Reenviar?", "type": "main", "index": 0}]]},
    "¿Reenviar?": {"main": [[{"node": "Enviar a WhatsApp", "type": "main", "index": 0}], [{"node": "¿Es Resume?", "type": "main", "index": 0}]]},
    "¿Es Resume?": {"main": [[{"node": "Llamar Resume Bot", "type": "main", "index": 0}], [{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Enviar a WhatsApp": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]},
    "Llamar Resume Bot": {"main": [[{"node": "Respond OK", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "availableInMCP": false},
  "staticData": null,
  "meta": null,
  "pinData": {},
  "tags": [{"name": "REYNA"}]
}
